@font-face {
    font-family: "Orc Horde";
    src: url('fonts/MISFITS_.TTF');
}

h2, h4 {
    font-size: 24px;
}

.logo {
    height: auto;
    width: 200px;
}

.boyz {
    height: auto;
    width: 350px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Orc Horde";
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #132a13;
    color: #90a955;
    padding: 12px 256px;
}

.banner {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links {
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #90a955;
}

a {
    text-decoration: none;
}

a:visited {
    color: #90a955;
}


.cards {
    display: flex;
    padding-bottom: 48px;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
}

button {
    width: 80px;
    padding: 8px;;
    border: none;
    background: none;
    background-color: #31572c;
    color: #ecf39e;
    border-radius: 5px;
    font-size: 12px;
}

.first-block {
    background-color: #ecf39e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
    color: #132a13;
}

.illustration-blocks {
    display: flex;
    gap: 32px;
}

.image-block {
    outline: 2px solid #31572c;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.subtext {
    width: 200px;
    text-align: center;
    font-size: 16px;
}

.second-block {
    background-color: #4f772d;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ecf39e;
    padding: 64px;
}

.quote {
    font-size: 40px;
    margin: 0;
    text-align: center;
    flex-wrap: wrap;
    width: 500px;
    font-style: italic;
}

.author {
    font-size: 24px;
    margin: 0;
    width: 500px;
    text-align: right;
}

.third-block {
    background-color: #ecf39e;
    color: #132a13;
    padding: 64px 256px;
}

.inner-block {
    background-color: #31572c;
    border-radius: 5px;
    padding: 24px 128px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ecf39e;
}

.second-button {
    border-color: #ecf39e;
    border-style: solid;
}

.footer {
    background-color: #132a13;
}